# konfigurations-Datei für das Skript dradio zum Aufnehmen von Radio-Sendungen
# per Streamripper. 

# Zum Start folgende Angaben bearbeiten:

# Ort wo die Aufnahmen gespeichert werden sollen. Pfad mit / abschliessen.
# Beispiel: TARGET="/tmp/"

TARGET="/tmp/"

#  Maximalle Füllrate in Prozent. Ist auf der angegebenen Partition mehr
#  Platz belegt, wird die Aufnahme nicht gestartet.

MAX_USED_SPACE_RATE=90

# Wenn die maximale Füllrate fast erreicht ist, kann auch ein Tool zum
# vorzeitigen Warnen genutzt werden.

# MAX_USED_SPACE_RATE_WARN=80

# WARNINGTOOL="/usr/local/bin/gesms" # e.g. tool to send sms/text message
# WARNINGTOOL_OPT=0123456789 # e.g. mobile number

# USERAGENT: So gibt sich Streamripper gegenüber dem Server aus. Um eine
# Aussperrung zu vermeiden, versucht einen gültigen Agent zu ergattern.
# Ein paar Beispiele:
#
# Mozilla/4.0 (compatible; MSIE 7.0b; Windows NT 6.0)
# Mozilla/4.0 (compatible; MSIE 7.0; Windows NT 5.1)
# Microsoft-WebDAV-MiniRedir/6.1.7600
# gvfs/1.4.1
# Mozilla/5.0 (X11; U; Linux i686; de; rv:1.8.1.16) Gecko/20080702 Firefox/2.0.0.16
# Mozilla/5.0 (Windows; U; Windows NT 5.1; de; rv:1.9.1.7) Gecko/20091221 Firefox/3.5.7
# VLC media player - version 1.0.2 Goldeneye - (c) 1996-2009 the VideoLAN team

USERAGENT='"Microsoft-WebDAV-MiniRedir/6.1.7600"'

# Optionale Argumente für Streamripper

OPT=""

# Falls am Desktop gestartet und notify-send installiert ist, gibt es
# die Möglichkeit Benachrichtigungen anzuzeigen. Dazu auf TRUE umstellen.

MESSAGING=FALSE


# Pfad zur Liste der Sender

STATION_FILE=$HOME/.config/dradio/sender.list

